<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avc.rp.dao.UserRedPacketDao">
  <!-- <sql id="Base_Column_List">
    id, red_packet_id, user_id, amount, grab_time, note
  </sql>
   -->
  <insert id="grapRedPacket" useGeneratedKeys="true" keyProperty="id" parameterType="com.avc.rp.model.UserRedPacket">
  	insert into T_USER_RED_PACKET (red_packet_id, user_id, amount,grab_time, note)
  	values
  	(#{red_packet_id},#{user_id},#{amount},now(),#{note})
  </insert>  
</mapper>