server:
  port: 8088  # 如果打成war包放入外部tomcat，则此端口配置不生效，以外部tomcat的端口号为准

#数据源配置 
spring:
  datasource:
    data-username: dbSource
    url: jdbc:mysql://127.0.0.1:3306/springboot?useSSL=false
    username: root
    password: root
    #使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    druid:
      max-active: 20
      max-wait: 60000
      min-idle: 1
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 30000
      validation-query: select 'x'
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-open-prepared-statements: 20
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp

#Mybtais 相关配置      
mybatis:
  mapper-locations:
  - classpath:mapper/*.xml
  #type-aliases-package: com.avc.shiro.oauth2

oauth2:
  clientId: c1ebe466-1cdc-4bd3-ab69-77c3561b9dee
  clientSecret: d8346ea2-6017-43ed-ad68-19c0f971738b
  redirectUrl: http://localhost:9080/oauth2-client/oauth2-login
  accessTokenUrl: http://localhost:8080/oauth2-server/accessToken
  userInfoUrl: http://localhost:8080/oauth2-server/userInfo
  authorizeUrl: http://localhost:8080/oauth2-server/authorize


