<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avc.shiro.oauth2.mapper.ClientMapper">

    <resultMap id="clientMap" type="com.avc.shiro.oauth2.entity.Client">
        <result column="id" property="id" />
        <result column="client_id" property="clientId" />
        <result column="client_name" property="clientName"/>
        <result column="client_secret" property="clientSecret" />
    </resultMap>

   <select id="selectByClientId" resultMap="clientMap">
       select * from oauth2_client where client_id = #{clientId}
   </select>

    <select id="selectBySecret" resultMap="clientMap">
       select * from oauth2_client where client_secret = #{clientSecret}
   </select>
</mapper>